/* General reset for margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: white;
  background-color: #37629c;
}

header {
  position: fixed; /* Keep the header on top */
  width: 100%; 
  height: 4.6875em;
  z-index: 1000; /* Ensure it's above other content */
  transition: background-color 0.3s ease; /* Smooth transition */
  /* display: flex; */
  align-items: center;
  justify-content: space-between; 
 
}

.navbar {
  padding: 0 50px;
  background-color: transparent;
  display: flex;
  /* justify-content: space-between;  */
  align-items: center; 
  height: 100%;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
}

.navbar .brand {
  display: flex;
  align-items: center; /* Center logo and text vertically */
  gap: 10px; /* Add space between logo and text */
  margin-right: auto; 
}

.navbar .brand img {
  width: 50px; /* Maintain aspect ratio */
  height: auto;
}

.navbar .brand .text {
  display: flex;
  flex-direction: column; /* Stack text vertically */
  align-items: flex-start; /* Align text to the left */
  gap: 10px; /* Adjust spacing between lines */
}

.navbar .brand .text p {
  font-size: 14px; /* Adjust font size for readability */
  margin: 0; /* Remove default margins */
  color: white; /* Text color */
}

.navbar .brand .text h1 {
  width: 100%; /* Line spans full width of the text container */
  height: 1px; /* Make it a thin line */
  background-color: white; /* Line color */
  margin: -5px 0; /* Adjust to center between text */
}

.navbar .sections {
  gap: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar .sections a {
  text-decoration: none; /* Remove underline from links */
  font-weight: 450; /* Bold font for visibility */
  font-size: 14px; /* Adjust font size as needed */
  color: white; /* Default text color */
  transition: transform 0.3s ease, color 0.3s ease; /* Smooth hover effects */
}

.navbar .sections a:hover {
  font-weight: 500;
  color: #ffde59; /* Highlight color on hover */
  transform: scale(1.1); /* Slightly enlarge the text */
}

.navbar .sections a i {
  font-size: 20px;
}


.sidebar {
  /* padding: 0 50px; */
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 260px;
  z-index: 1020;
  background-color: #164d75a6;
  backdrop-filter: blur(10px);
  display: none;
  flex-direction: column;
  align-items: flex-start; 
  justify-content: flex-start; 
  padding: 27px 50px;
  /* gap: 15px; */
}

.sidebar a{
  width: 100%;
}

/* .sidebar .brand {
  display: flex;
  align-items: center;
  gap: 10px; 
  width: 100%; 
  box-sizing: border-box; 
}

.sidebar .brand img {
  width: 50px; 
  height: auto;
}

.sidebar .brand .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  gap: 10px; 
}

.sidebar .brand .text p {
  font-size: 14px; 
  margin: 0; 
  color: white; 
}

.sidebar .brand .text h1 {
  width: 100%; 
  height: 1px; 
  background-color: white;
  margin: -5px 0; 
} */

.sidebar .sections {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  gap: 30px; /* Add spacing between links */
  width: 100%; /* Ensure the links take full width */
}

.sidebar .sections a {
  text-align: right; /* Align the text to the left */
  /* padding: 10px 5px; */
  color: white; /* Adjust text color */
  text-decoration: none; /* Remove underline */
  font-size: 14px; /* Adjust font size */
  font-weight: 450;
  transition: transform 0.3s ease, color 0.3s ease; /* Smooth hover effects */
  transform-origin: right center;
}

.sidebar .sections a:hover {
  font-weight: 500;
  color: #ffde59; /* Highlight color on hover */
  transform: scaleX(1.1); /* Slightly enlarge the text */
}

.sidebar .sections a i {
  /* padding-right: 5px; */
  font-size: 20px;
}



/* ------------------Main content ---------------*/
.landing-container {
  position: relative;
  background-image: url('images/bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  margin: 0;
  height: 115vh;
}

.Home-title {
  color: #ffde59;
  display: flex; /* Enable Flexbox */
  flex-direction: column; /* Stack elements vertically */
  align-items: flex-start; /* Align content to the left */
  /* padding-left: 70px; */
  justify-content: flex-end;
  height: 115vh;
  width: 42%;
  padding: 0;
}

#Naga-Bisita {
  position: relative;
  color: #ffde59;
  font-family: 'Adlery Pro', sans-serif;              
  font-size: 130px;
  font-style: Normal;
  text-shadow: 5px 6px 0px rgba(0, 0, 0, 0.4); 
  transform: rotate(-7deg);
  z-index: 5;
  padding-left: 50px;
  padding-right: 0;
}

#KO {
  position: relative;
  /* top: 670px;
  left: 190px; */
  padding-left: 170px;
  color: #fff06b;
  font-family: "League Spartan", sans-serif;
  font-size: 240px;
  font-style: Normal;
  text-shadow: 9px 9px 0px rgba(0, 0, 0, 0.4); 
  z-index: 5;
}


.festival-pic-container {
  position: relative;
  display: flex; /* Enable Flexbox */
  flex-direction: column; /* Stack elements vertically */
  align-items: flex-end; /* Align content to the left */
  padding-right: 50px;
  padding-bottom: 40px;
  justify-content: flex-end;
  height: 113vh;
  width: 20%;
  /* top: 435px;
  left: 1225px; */
}

.festivalpic {
  width: 235px; 
  height: auto;
  border: 5px solid white;
  border-radius: 20px;
  z-index: 5;
}

/* .logo-container {
  position: relative;
  display: flex;
  flex-direction: column; 
  align-items: flex-end; 
  justify-content: flex-end;
  height: 53vh;
  width: 35%;
  color: white;
  text-align: right;
} */



.welcome-message-container {
  position: relative;
  display: flex; /* Enable Flexbox */
  flex-direction: column; /* Stack elements vertically */
  align-items: flex-end; /* Align content to the left */
  justify-content: flex-end;
  height: 100vh;
  width: 38%;
  color: white;
  text-align: right;
  /* padding: 8px; */
}

.logo {
  width: 200px; 
  height: auto;
  z-index: 5;
  /* padding-left: 40px; */
}

#welcome-header {
  padding-right: 10px;
  font-family: "Montserrat", sans-serif;
  font-style: Normal;
  font-weight: 550;
  font-size: 32px; 
  margin-bottom: 10px; 
  z-index: 5;
}
#welcome-paragraph {
  padding-right: 10px;
  font-family: "Montserrat", sans-serif;
  font-style: light;
  font-size: 15px; 
  letter-spacing: 1.3px;
  line-height: 1.5;
  z-index: 5;
}

.box{
  position: relative;
  background-color: #37629c;
  height: 0;
}
/* .background {
  position: relative; 
  width: 100%; 
  height: 100vh; 
  overflow: hidden; 
}

.background img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  opacity: 17%;
} */

.fest {
  position: relative; /* Keeps it positioned relative to its container or previous element */
  width: 100%; /* Makes the image take the full width of the screen */ /* Adjusts the height to fill the viewport */
  height: auto;
  overflow: hidden; 
  margin: 0;
}

.fest img {
  width: 100%; /* Ensures the image scales to the container's width */
  height: auto;
  object-fit: cover; /* Ensures the image maintains proportions and fills the container */
  display: block;
}

/* New box below the fest section */
.info-box1 {
  background-color: #d9d9d9; /* Light gray background */
  padding: 70px; /* Add padding */
  text-align: center; /* Center the text */
  position: relative;
  margin: 0;
}

/* Text styling inside the new-info-box */
.info-box1 p {
  line-height: 1.4; /* Improve readability */
}

#Where {
  color: #164975;
  font-family: "League Spartan", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
}

#How {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 23px;
  font-style: light;
  letter-spacing: 0.8px;
  /* font-weight: 700; */
}

.Home-video {
  position: relative;
  width: 100%; /* Make it stretch across the screen width */
  /* margin: 0 auto; */
  /* height: auto; */
  /* margin-bottom: ; */
}

video {
  width: 100%; /* Fit the video to the container's width */
  height: auto;
  object-fit: cover;
}

#It-just {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translateX(-16%) translateY(-50%);
  color: #ffde59;
  font-family: 'Adlery Pro', sans-serif; 
  font-size: 110px;
  font-style: Normal;
  text-shadow: 5px 6px 0px rgba(0, 0, 0, 0.4); /* Creates a shadow effect */ 
  text-align: center; 
  z-index: 10;
}

/* .Home-video img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  position: absolute;
  top: 670px;
} */

.map {
  position: relative; /* Keeps it positioned relative to its container or previous element */
  width: 100%; /* Makes the image take the full width of the screen */ /* Adjusts the height to fill the viewport */
  height: auto;
  overflow: hidden; 
  margin: 0;
}

.map img {
  width: 100%; /* Ensures the image scales to the container's width */
  height: auto;
  object-fit: cover; /* Ensures the image maintains proportions and fills the container */
  display: block;
}

.embed-map {
  position: absolute; /* Position the map on top of the image */
  top: 100px; /* Align to the top of the container */
  left: 160px; /* Align to the left of the container */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  z-index: 1; /* Ensures map appears on top of the image */

}

/* -------------- footer ----------------- */
.footer {
  margin-top: 0;
  background-color: #164975;
  display: flex; /* Enable flexbox for the footer */
  justify-content: space-between; /* Distribute the sections horizontally */
  /* align-items: flex-start;  */
  padding: 5px;
  padding-left: 50px;
  padding-right: 50px;
  width: 100%; 
  height: 300px;
  gap: 25px;
  font-size: 16px;
  font-weight: 450;
  height: 100%;
}

.republic, .Gov-ph, .Gov-link, .logos {
  display: flex; /* Flexbox for all sections */
  flex-direction: column; /* Arrange items vertically */
  align-items: flex-start; /* Align items to the start (left) */
  flex: 1; /* Allow each section to take equal space */
  padding: 5px; /* Padding inside each section */
}

.republic img {
  align-items: center;
  width: 250px; /* Adjust image size as needed */
  height: auto;
}

.Gov-ph {
  padding-top: 30px;
  gap: 30px;
  line-height: 23px;
}

.Gov-ph a {
  text-decoration: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  /* font-weight: 450; */
}

.Gov-ph a:hover {
  color: #ffd700; /* Change text color */
  text-decoration: none; /* Adds an underline */
  transition: color 0.3s ease;
}

.Gov-link {
  padding-top: 30px; /* Padding inside the section */
}

.Gov-link p {
  text-align: left; /* Center the text */
  font-family: "Montserrat", sans-serif; /* Font styling */
  color: white; /* Text color */
  margin-bottom: 30px;
}

.Gov-link a {
  text-decoration: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  /* font-weight: 500; */
  line-height: 23px;
}

.Gov-link a:hover {
  color: #ffd700; /* Change text color */
  text-decoration: none; /* Adds an underline */
  transition: color 0.3s ease;
}


.logos {
  display: flex; /* Flexbox for logos */
  flex-direction: row; /* Align logos horizontally */
  align-items: flex-start; 
  gap: 25px; /* Space between logos */
  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 0;
}

.logoc {
  width: 60px;
}

.Naga-bisitac {
  padding-top: 2px;
  width: 80px
}

.Love-ph {
  padding-top: 10px;
  width: 100px
}

/* Styling for the contact section */
.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  padding-right: 5px;
}

/* Styling for each contact item (icon and text) */
.contact-item {
  display: flex;
  align-items: center;
  gap: 15px; /* Space between the icon and text */
}

/* Icon styling */
.contact-item i {
  font-size: 24px; /* Adjust the size of the icon */
  color: white; /* Default icon color */
}

/* Hover effect for icon */
/* .contact-item i:hover {
  transform: scale(1.2); 
  color: #007bff; 
} */

.contact-item a {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  margin: 0;
  text-decoration: none;
}

.contact-item a:hover {
  color: #ffd700; /* Change text color */
  text-decoration: none; /* Adds an underline */
  transition: color 0.3s ease;
}

/* @media (max-width: 600px) {
  .landing-container {
    text-align: center;
    margin: 0;
  }
  
  .landing-image {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }
} */

.menu-button {
  display: none;
}

@media (max-width: 1479px){
  #Naga-Bisita{
    font-size: 100px;
  }
  #KO{
    font-size: 210px;
    padding-left: 140px;
  }
  .logo {
    width: 170px; 
  }
  #welcome-header{
    font-size: 30px;
  }
  #welcome-paragraph{
    font-size: 13px;
  }
  .festivalpic{
    width: 200px;
  }
}

@media (max-width: 1282px){
  #Naga-Bisita{
    font-size: 80px;
  }
  #KO{
    font-size: 170px;
    padding-left: 120px;
  }
  .logo {
    width: 160px; 
  }
  #welcome-header{
    font-size: 28px;
  }
  #welcome-paragraph{
    font-size: 11px;
  }
  .festivalpic{
    width: 180px;
  }
}

@media (max-width: 1198px){
  .logo {
    width: 150px; 
  }
  #welcome-header{
    font-size: 27px;
  }
  #welcome-paragraph{
    font-size: 10px;
  }
  .festivalpic{
    width: 170px;
  }
}

@media (max-width: 1157px){

  .Home-title{
    width: 50%;
    align-items: center;
  }
  .logo {
    display: none;
  }
  .welcome-message-container{
    width: 50%;
    align-items: center ;
  }
  #welcome-header{
    font-size: 26px;
  }
  #welcome-paragraph{
    font-size: 10px;
  }
  /* .box{
    height: 100px;
  } */
  .festivalpic{
    display: none;
  }
}

@media (max-width: 1120px){
  .landing-container {
    display: flex; /* Keep Flexbox layout */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center content horizontally */
    justify-content: center; /* Center content vertically */
    height: 100vh; /* Adjust the height to fill the screen */
    text-align: center; /* Ensure text is centered */
  }
  .Home-title{
    padding-top: 100px;
    color: #ffde59;
    display: flex; /* Enable Flexbox */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Align content to the left */
    /* padding-left: 70px; */
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 50px;
  }
  .logo {
    display: none;
  }
  .welcome-message-container{
    padding-left: 150px;
    padding-right: 150px;
    width: 100%; /* Make the message container take full width */
    align-items: center;
    text-align: center; /* Center text inside the container */
    margin-top: 20px; /* Add space between the title and the message */
    justify-content: flex-start;
  }
  #welcome-header{
    margin-bottom: 20px;
  }
  .festivalpic{
    display: none;
  }
}

@media (max-width: 768px) {
  .landing-container {
    /* position: fixed; */
    background-size: 100%;
    max-height: 500px;
    background-position: top  center;
    background-repeat: no-repeat;
  }
  .Home-title{
    top: 40%; /* Adjust position slightly for smaller screens */
    padding-top: 90px;
    justify-content: flex-start;
    height: 40vh;
    /* margin-bottom: 160px; */
  }
  #Naga-Bisita {
    padding-left: 0;
    font-size: 12vw; /* Smaller font size for smaller screens */
  }

  #KO {
    padding-left: 7vw;
    font-size: 23vw; /* Adjusted size for smaller screens */
  }
  .welcome-message-container{
    justify-content: flex-start;
    padding: 120px 100px;
  }
  #welcome-header{
    font-size: 3vw;
  }
  #welcome-paragraph{
    font-size: 1.5vw;
  }
  .fest{
    width: 100%;
    overflow: hidden;
  }
}

@media (max-width: 1050px){
  .info-box1{
    padding: 50px 50px;
  }
  #Where{
    font-size:4vw;
  }
  #How{
    font-size: 2vw;
  }
}

@media (max-width: 1460px){
  .Home-video img{
    display: none;
  }
  #It-just{
    font-size: 8vw;
  }
}



@media (max-width: 720px) {
  /* #Naga-Bisita {
  }

  #KO {
  } */
  .welcome-message-container{
    justify-content: flex-start;
    padding-top: 7vh;
    /* padding: 5vw 100px; */
  }
}

@media (max-width: 480px) {
  #Naga-Bisita {
    /* padding-top: 10vh; */
    /* font-size: 9vw;  */
  }

  #KO {
    /* font-size: 19vw;  */
    margin-bottom: 0;
  }
  
  .welcome-message-container{
    /* padding-top: vh; */
    padding: 5vw 50px;
  }
}

/* @media (max-width) */

@media (max-width: 1150px){
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: block;
  }
}

@media (max-width: 400px){
  .sidebar{
    width: 100%;
  }
  .landing-container {
    width: 100%; /* Ensure it takes up the full width */
    height: auto; /* Maintain aspect ratio */
  }
}

@media (max-width: 768px) {
  .landing-container {
    width: 100%; /* Ensure it takes up the full width */
    height: auto; /* Maintain aspect ratio */
  }
}

@media (max-width: 1285px) {
  .footer {
    flex-direction: column; /* Stack the sections vertically */
    justify-content: center; /* Center the sections */
    align-items: center; /* Center align the sections */
    padding-left: 20px;
    padding-right: 20px;
  }

  /* Ensure the individual sections are centered and aligned */
  .republic, .Gov-ph, .Gov-link, .links {
    flex-direction: column; /* Arrange items vertically */
    align-items: center; /* Center items horizontally */
    text-align: center; /* Center text */
    width: 100%; /* Make sections take up full width */
    padding: 10px; /* Add padding for spacing */
  }

  /* Adjusting the image size for responsiveness */
  .republic img {
    width: 200px; /* Reduce image size for smaller screens */
  }

  /* Adjust the font size for better readability on smaller screens */
  .Gov-ph p, .Gov-link p {
    font-size: 14px;
    line-height: 20px;
  }

  .Gov-ph a, .Gov-link a {
    font-size: 14px; /* Smaller font size */
  }

  /* Logos should remain aligned horizontally on smaller screens */
  .logos {
    display: flex; /* Use flexbox */
    flex-direction: row; /* Keep logos aligned horizontally */
    gap: 15px; /* Space between logos */
    padding-top: 15px;
    justify-content: center; /* Center logos */
  }

  .logos img {
    width: 50px; /* Adjust logo size for smaller screens */
  }

  /* Adjust the contact section */
  .contacts {
    display: flex;
    flex-direction: column; /* Stack contact items vertically */
    align-items: center; /* Horizontally center the contact items */
    gap: 10px; /* Space between items */
    text-align: center; /* Center the text in contact items */
    justify-content: center; /* Vertically center the contact section */
  }

  .contact-item {
    font-size: 14px; /* Smaller font size for contact items */
  }

  .contact-item i {
    font-size: 20px; /* Smaller icon size */
  }

  .contact-item a {
    font-size: 14px; /* Smaller text size for links */
  }

  /* Center align the links section */
  .Gov-link {
    text-align: center; /* Center text in the links section */
  }
}
